.title2{
    font-size: 100px;
    font-weight: 700;
    color: $secondary-color;
    font-family: Stretch Pro;
    position: relative;
    width: max-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after{
        content: "";
        position: absolute;
        background-color: $primary-color;
        height: 5px;
        width: 150px;
        bottom: -5px;
        transition: 0.4s;
    }
    &.no-border{
        &:after{
            content: none;
        }
    }
    
}
@media (max-width:1600px) {
    .title2{
        font-size: 80px;
        &.titre{
            font-size: 70px;
        }
    }
}
@media (max-width:1200px) {
    .title2{
        font-size: 70px;
        &.titre{
            font-size: 60px;
        }
    }
}
@media (max-width:991px) {
    .title2{
        font-size: 60px;
        &.titre{
            font-size: 50px;
        }
    }
}
@media (max-width:768px) {
    .title2{
        font-size: 35px;
        &.titre{
            font-size: 25px;
        }
    }
}
@media (max-width:448px) {
    .title2{
        font-size: 23px;
        &.titre{
            font-size: 18px;
        }
    }
}